django>=1.5.1
xhtml2pdf>=0.0.6

# Dependencies of xhtml2pdf
html5lib>=0.999
httplib2>=0.8
Pillow>=2.4.0
pyPdf2>=1.21
reportlab>=2.7,<3

# This is not a project requirement
# Only used for demo on http://easy-pdf.herokuapp.com
waitress>=0.8.8
