<!DOCTYPE html>
<html>
<head>
    <title>{{ title|default:"" }}</title>

    {% block style_base %}
        {% block layout_style %}
            {% comment %}
                See https://github.com/Kozea/WeasyPrint/blob/master/weasyprint/css/html5_ua.css
                for base style sheet.
            {% endcomment %}
            <style type="text/css">
                @page {
                    size: {{ pagesize|default:"A4" }};
                    margin-left: 2.5cm;
                    margin-right: 2.5cm;
                    margin-top: 2.5cm;
                    margin-bottom: 2cm;

                    {% comment %}
                    @bottom-right {
                        content: "Page " counter(page) " of " counter(pages)
                    }
                    {% endcomment %}
                }
            </style>
        {% endblock %}
        {% block extra_style %}{% endblock %}
    {% endblock %}
</head>
<body>
<div>
    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}
</div>

<div id="page-footer">
    {% block page_foot %}
    {% endblock %}
</div>
</body>
</html>